{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [ "last 2 versions" ]
            },
            "useBuiltIns": "entry", 
            "corejs": 3
        }],
        "@babel/preset-react"
    ]
}